.App {

}
/*make basic var colors*/
:root{
    --primary-color: #282c34;
    --secondary-color: #54bcd7;
    --text-color: white;
    --text-color-secondary: black;
    --error-color: red;
    --transition-default: 0.2s ease;
}


nav{
    background-color: var(--primary-color);
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav > ul {
    display: flex;
    list-style: none;
    padding: 0;
}
nav > ul > li {
    margin: 0px;
}
.nav-link {
    color: var(--text-color);
    text-decoration: none;
    font-size: 1.2em;
    transition: var(--transition-default);
}
.nav-link:hover {
    color: var(--secondary-color);
}
.nav-button {
    background-color: var(--secondary-color);
    border: none;
    border-radius: 15px;
    padding: 10px 20px;
    color: var(--text-color);
    font-weight: bold;
    cursor: pointer;
    transition: var(--transition-default);
}
.nav-button:hover {
    background-color: white;
    color: var(--primary-color);
}
#nav-name {
    font-size: 1.5em;
    font-weight: bold;
    color: var(--secondary-color);
}
#nav-links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 400px;
}




.container1 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 75vh;
}

.user-profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f5f5f5;
    max-width: 400px;
}

.profile-icon {
    width: 44px;
    height: 44px;
    fill: #2c3e50;
}

.profile-info {
    text-align: center;
}

.label1 {
    font-weight: bold;
}

.input1[type="text"] {
    width: 100%;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

.button1 {
    background-color: #2c3e50;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 3px;
    cursor: pointer;
}

.button1:hover {
    background-color: #34495e;
}



.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f5f5f5;
    max-width: 400px;
}

.form-group {
    width: 100%;
}

label {
    font-weight: bold;
}

input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

.button-auth {
    background-color: #2c3e50;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 3px;
    cursor: pointer;
    margin-inline: 10%;
}

.button-auth:hover {
    background-color: #34495e;
}

#error {
    color: red;
    font-weight: bold;
    text-align: center;
    margin-top: 10px;
}

.error-hidden {
    display: none;
}
#button-auth-container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 20px;
}



#best-scores {
    font-family: Arial, sans-serif;
    margin: 20px;
}

/* Styles for the heading */
.score-heading {
    font-size: 24px;
    margin-bottom: 10px;
}

/* Styles for the table */
.score-table {
    width: 100%;
    border-collapse: collapse;
}

/* Styles for table headers */
.table-header {
    background-color: #f2f2f2;
    font-weight: bold;
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

/* Styles for table rows */
table tr:nth-child(even) {
    background-color: #f2f2f2;
}

/* Styles for table data cells */
table td {
    padding: 8px;
    border-bottom: 1px solid #ddd;
}

/* Hover effect for table rows */
table tr:hover {
    background-color: #e0e0e0;
}

